body{
    margin: 0;
    font-family: 'Arial', sans-serif;
    width: 100%;
}

.navbar {
    top: 0;
    background-color:rgb(212, 253, 253);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    z-index: 1000;
    margin-bottom: 15px;
    font-size: large;
}

.navbarleft {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: larger;
  font-family: 'Lucida Handwriting', cursive;
}

.navbarlefttext {
  margin: 5px;
  text-align: center;
}

.logo {
  margin-left: 15px;
  width: 70px;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 15px;
}

.navbar button {
  font-size: 15px;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin: (0, 10px);
}