body{
    margin: 0;
    font-family: 'Arial', sans-serif;
    width: 100%;
}

.navbar {
    top: 0;
    background-color:rgb(212, 253, 253);
    padding: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: rgb(0, 0, 0);
    z-index: 1000;
    margin-bottom: 15px;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 15px;
}

.navbar button {
  font-size: 15px;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin: (0, 10px);
}