.researchPapers {
    padding: 10px;
    max-width: 50vw;
    min-width: 300px;
    overflow-y: auto;
    margin: auto;
    max-height: 85vh;
    overflow-y: auto;
}
  
  .journal-heading,
  .research-heading {
    color: #3498db;
  }

  .research-paper-container,
  .journal-container {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #ecf0f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .research-paper-container h2,
  .journal-container h2 {
    color: #2c3e50;
    margin-bottom: 5px;
  }
  
  .research-paper-container p,
  .journal-container p {
    color: #555;
    margin-bottom: 5px;
    font-size: 12px;
  }
  
  .research-paper-container button,
  .journal-container button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .research-paper-container button.view-btn,
  .journal-container button.view-btn {
    background-color: #3498db;
      color: #fff;
      border: none;
  }
  
  .research-paper-container button.delete-btn,
  .journal-container button.delete-btn {
      background-color: #e74c3c;
      color: #fff;
      border: none;
  }
  
  .research-paper-container button:hover,
  .journal-container button:hover {
    opacity: 0.9;
  }