.research-paper-container button.view-button {
  background-color: #99B0FF;
  color: #fff;
}

.research-paper-container button.accept-button {
  background-color: #40FF76;
  color: #fff;
}

.research-paper-container button.reject-button {
  background-color: #e74c3c;
  color: #fff;
}